body{
    display: flex;
    flex-direction: row;
}
#sidebar{
    display: flex;
    flex: 1;
    background-color: blue;
    
}
#tasks{
    display: flex;
    flex: 3;
    background-color: brown;
}
#tools{
    display: flex;
    flex: 1;
    background-color: blueviolet;
}